#home {
  // background-color: #D23333; //
  background-image: url("../../images/shanghai.jpg");
  background-size: cover;
  background-position: center;
  color: $c-two;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
  .form-group {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .input-lg {
    height: 53px;
    padding: 10px 16px;
    font-size: 23px;
    line-height: 1.3333333;
    border-radius: 2px;
  }
}

