// Define variables for your color scheme

// For example:
$c-one: #6C567B;
$c-two: #C06C84;
$c-three: #F67280;
$c-four: #F8B195;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #606470;
$light-gray: #F4F4F4;
