---
title: Le Wagon - Middleman
---

<div id="home">
  <!-- Banner -->
  <div class="home-content">
    <h1>Welcome home</h1>
    <p>Book unique homes and experience a city like a local.</p>
    <form action="">
      <div class="row form-inline">

            <input type="text" class="form-control input-lg" id="where" placeholder="Bob">


            <input type="text" class="form-control input-lg" id="when" placeholder="Sponge">


            <select id="guests" name="guests" class="form-control input-lg">
              <option value="1">1 guest</option>
              <option value="2">2 guests</option>
              <option value="3">3 guests</option>
              <option value="4">4 guests</option>
            </select>

            <button class="btn btn-primary" type="submit">Search</button>


      </div>
  </div>

</div>


<!-- BAR -->
  <div class="cards-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
         <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <div class="card-category">PARIS, FRANCE</div>
            <div class="card-description">
              <h3>Sebastien's Home</h3>
              <p>Charming room in Montmartre</p>
              <p class="rating">
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #cacccd"></i>
              </p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        </div>
        <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        </div>
        <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <div class="card-category">PARIS, FRANCE</div>
            <div class="card-description">
              <h3>Sebastien's Home</h3>
              <p>Charming room in Montmartre</p>
              <p class="rating">
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #cacccd"></i>
              </p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <div class="card-category">PARIS, FRANCE</div>
            <div class="card-description">
              <h3>Sebastien's Home</h3>
              <p>Charming room in Montmartre</p>
              <p class="rating">
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #cacccd"></i>
              </p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
          </div>
        </div>
      </div>
    </div>
  </div>



